<div id="sidebar" class="sidebar sidebar-left panel panel-default">
    <button type="button" class="panel-heading btn btn-link sidebar-collapse-btn collapsed hidden-md hidden-lg" data-toggle="collapse" data-target="#left-sidebar" aria-expanded="false">
        <span>{% trans %}Project navigation{% endtrans %}</span>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
    <nav role="navigation" class="navbar">
        <div id="left-sidebar" class="collapse">
            <ul class="nav navbar-nav">
                <li class="{{ "active" if request.path == "/history" }}">
                    <a href="/history">History</a>
                </li>
                <li class="{{ "active" if request.path == "/about-supporters" }}">
                    <a href="/about-supporters">About the Supporters</a>
                </li>
                <li class="{{ "active" if request.path == "/acquisitions-guidelines" }}">
                    <a href="/acquisitions-guidelines">Acquisitions Guidelines</a>
                </li>
                <li class="{{ "active" if request.path == "/acquisitions-policy" }}">
                    <a href="/acquisitions-policy">Acquisitions Policy</a>
                </li>
                <li class="{{ "active" if request.path == "/contribute-material" }}">
                    <a href="/contribute-material">Contribute your Material</a>
                </li>
                <li class="{{ "active" if request.path == "/terms-of-use" }}">
                    <a href="/terms-of-use">Terms of Use</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
