{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-3">
      {% include 'component-sidebar-left.html' %}
  </div>
  <div class="col-xs-12 col-md-8" id="content" role="main">
    <div class="title-wrapper">
      <h1>{{ title_slug }}</h1>
    </div>
    <h2>Digitization, Archiving, and Online Accessibility</h2>
    <p>The OLA Acquisitions policy covers digitization services only as related to the long-term preservation, archiving, and accessibility of donated collections. All items acquired by the OLA per this policy will be deposited in the OLA until they are transferred to the University Archives or deposited directly in the University Archives, digitized as needed, and made available in the OLA online database to the extent permitted by intellectual property and ethical rights restrictions. Items submitted to the OLA for digitization only are subject to the OLA Digitization Policy.</p>
    <h2>Parameters</h2>
    <p>Based on the following parameters, acceptance of new materials into the OLA Collection will be determined by the OLA Director in consultation with the OLA Steering Committee. Materials that fall outside the following parameters will be presented to the members of the OLA Steering Committee for further review and discussion.</p>
    <ol>
      <li>Depositor Affiliation
        <ul>
          <li>Whether the depositor is a University faculty member, graduate student, or other faculty-sponsored affiliate, and/or whether the materials are related to a University-sponsored research project.</li>
        </ul>
      </li>
      <li>Content
        <ul>
          <li>The content of the recordings fits within the identity of the OLA Collection in that it includes research audio, video, or other data related to language and/or ethnographic music research (including supporting multimedia cultural materials such as field notes, biographical material, transcripts).
            <ul>
              <li>While there is no restriction by sub-field or geographic area, items relating to endangered languages, linguistic and cultural fieldwork, Mesoamerican languages and cultures, and other emphases of the UChicago scholarship in Anthropology, Linguistics, or Music—past, present, or future—are particularly welcome.</li>
            </ul>
          </li>
          <li>The depositor provides a description of the content to meet the <a href="/acquisitions-guidelines">minimal OLA metadata requirement</a>, including any documentary materials associated with the project.</li>
          <li>The depositor can confirm the rights status of the recorded content and/or recording itself, or it can be determined by the depositor in consultation with the OLA Steering Committee at the time of deposit.
            <ul>
              <li>This includes both the intellectual property rights of the depositor as well as the ethical rights of speakers and communities of speakers.</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Medium
        <ul>
          <li>Recordings in most urgent need of preservation will be given precedence.</li>
          <li>All media—analog or digital, audio or video—are acceptable.
            <ul>
              <li>Ideally, new deposits to the OLA will be digitized and already converted into archival audio/video formats. For details, see the <a href="/acquisitions-guidelines">OLA Acquisitions Guidelines</a>.</li>
              <li>If new analog media are proposed for inclusion into the OLA without accompanying funds for digitization, the OLA Steering Committee will evaluate the feasibility of underwriting the digitization costs in relationship to the size of the project and the intellectual, pedagogical, or historical value of the materials.</li>
            </ul>
          </li>
          <li>Supplementary non-audio materials (field notes, forms, tables, etc.) will be accepted if the depositor provides clear indications regarding their relationship to other media and/or how the information will help to enrich the collection; for guidance on acceptable file formats, see the <a href="/acquisitions-guidelines">OLA Acquisitions Guidelines</a>.</li>
        </ul>
      </li>
    </ol>
  
  </div>
</div>
{% endblock %}
