{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-3">
      {% include 'component-sidebar-left.html' %}
  </div>
  <div class="col-xs-12 col-md-8" id="content" role="main">
    <div class="title-wrapper">
      <h1>{{ title_slug }}</h1>
    </div>
    <p>This digital project makes many of these collections freely available for research use and tracks many others that can be made available for use by arrangement. For online access to the digital files, there is an access request link on each series and its items the is restricted.</p>

    <p>Account requests are reviewed individually and typically processed within five business days, after which an email is sent with instructions on how to use the account.</p>

    <p>Access to the collection is maintained by the Hanna Holborn Gray Special Collections Research Center including <a href="https://www.lib.uchicago.edu/scrc/visiting/requests/">access to physical items</a>.</p>

  </div>
</div>
{% endblock %}
