{% extends "base.html" %}

{% block content %}
<div class="row">
    {# Hidding the sidebar due to empty static content
        <div class="col-xs-12 col-md-4 col-lg-3">
        {% include 'component-sidebar-left.html' %}
    </div>
    <div class="col-xs-12 col-md-8"> #}
    <div class="col-xs-12">
        <h1>{% trans %}Indigenous Mesoamerican Languages Portal{% endtrans %}</h1>
        <!-- locale is:{{ locale }} -->

        <h2>{% trans %}Accessing the collection{% endtrans %}</h2>
        <p>
            {% trans %}Some items require <a href="/access-terms">specific permission</a> to have access whether they are in digital or physical form. You can request access to a specific set of items, or request that your CNET ID be given privilege to access some of the restricted content. Access to the collection is managed by the Hanna Holborn Gray Special Collections Research Center.{% endtrans %}
        </p>

        <h2>{% trans %}Welcome!{% endtrans %}</h2>
        <p>
            {% trans %}The Mesoamerican Language Collections (MLC) brings together multiple collections of materials documenting Mesoamerican Languages produced by University of Chicago linguists and ethnographers since 1932. They are the legacy of work started by Norman McQuown (1914-2004), University of Chicago anthropologist and linguist, and carried on by his former student John Lucy, who collected and preserved primary documentation about Mesoamerican languages produced by their colleagues and students over the bulk of the 20th and early 21st Centuries. {% endtrans %}
        </p>
        <p>
            {% trans %}These collections consist of the Manuscripts in Cultural Anthropology (MCA), a manuscript collections of field notes, vocabulary lists, dictionaries, grammars, corpora of texts and elicited sentences, concordances, and guides to holdings of other research collections; the Digital Media Archives (DMA), a broader digital collection of recorded audio one of the largest components of which are the field recordings of Mesoamerican linguists; the Chicago Archive of Indigenous Language Literatures of the Americas, published works in indigenous languages (again overwhelmingly Mesoamerican) collected by MCA and DMA contributors, including original prose and poetry, translations from other languages, children’s literature, pedagogical materials, periodicals, and more; and language teaching materials produced by University of Chicago linguists and anthropologists to train their future colleagues.{% endtrans %}
        </p>

        {% include 'elements-browse-bar.html' %}
    </div>
</div>
{% endblock %}
