{% extends "base.html" %}

{% block content %}
<div class="browse-page" id="content" role="main">

  <div class="panel panel-default browse-list-panel">
    <div class="panel-heading panel-heading-icon">
      <h1>{{ title_slug }}</h1>
      {% if not request.args.sort == 'count' %}
        <a class="btn btn-link btn-xs" aria-label="sort by numerical descending order" title="sort by numerical descending order" href="{{request.path}}?type={{request.args.type}}&sort=count">
        <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
          </a>
      {% else %} 
        <a class="btn btn-link btn-xs" aria-label="sort by alphabetical order" title="sort by alphabetical order" href="{{request.path}}?type={{request.args.type}}">
        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
          </a>
      {% endif %} 
    </div>
    <div class="panel-body browse-list-wrapper">
      {% if is_alphabetical %}
      {% for alphabet in browse_terms %}
      <h2>{{ alphabet }}</h2>
      <ul class="row no-style-list">
        {% for b in browse_terms[alphabet] %}
        <li class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <a class="btn btn-secondary" href="/browse/?type={{ browse_type }}&term={{ b[0]|urlencode }}">
            <span class="browse-item-name">{{ b[0] }}</span>
            <span class="text-muted">{{ b[1] }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
      {% else %}
        <ul class="row no-style-list">
          {% for b in browse_terms %}
            <li class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <a class="btn btn-secondary" href="/browse/?type={{ browse_type }}&term={{ b[0]|urlencode }}">
                <span class="browse-item-name">{{ b[0] }}</span>
                <span class="text-muted">{{ b[1] }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  {% include 'component-browse-bar.html' %}
  
</div>

{% endblock %}
