<li class="item-list-faux-table-wrapper">
<a class="item-list-faux-table-row" href="/item/{{ item.ark|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">
  {# Format #}
  <span class="item-list-faux-table-format">
    <span class="text-muted">{% if showlevel %}{{ showlevel }}&nbsp;{% endif %}</span>
    {% set format = item.medium %}
    {% include 'component-format-label.html' %}
  </span>

  {# Name and Description #}
  <span class="item-list-faux-table-name">
    <span class="item-list-faux-table-name-name">{% for title in item.titles %}
      {{ title }}
    {% endfor %}</span>
    <span class="item-list-faux-table-name-identifier hidden">{{ item.identifier.0 }}</span>
    <span class="item-list-faux-table-name-description">
      {{ item.description[0] }}
    </span>
  </span>

  {# Has Conversions #}
  <span class="item-list-faux-table-conversions">
    {% if item.has_format|length > 0 %}
      <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    {% else %}
      <i class="fa fa-circle-o text-muted o-80" aria-hidden="true"></i>
    {% endif %}
  </span>
</a>
</li>