<a class="item-list-faux-table-row" href="/item/{{ item.ark|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">
  {# Format #}
  <span class="item-list-faux-table-format">
    <span class="text-muted">{% if showlevel %}{{ showlevel }}&nbsp;{% endif %}</span>
    {% if item.panopto_links|length > 0 %}
      <span title="{% trans %}item has digital content{% endtrans %}"><i class="item-icon fa fa-lg fa-headphones" aria-hidden="true"></i></span>
        &nbsp;
    {% endif %}
    <span title="{% trans %}Type of Media{% endtrans %}">
      {{item.medium[0]}}:
    </span>
  </span>

  {# Name and Description #}
  <span class="item-list-faux-table-name">
    <span class="item-list-faux-table-name-name">{% for title in item.titles %}
      {{ title }}
    {% endfor %}</span>
    <span class="item-list-faux-table-name-identifier hidden">{{ item.identifier.0 }}</span>
    <span class="item-list-faux-table-name-description">
      {{ item.description[0] }}
    </span>
  </span>

  {# Has Conversions #}
  <span class="item-list-faux-table-conversions">
    {% if item.has_format|length > 0 %}
      <span><i class="fa fa-files-o" aria-hidden="true"></i></span>
    {% endif %}
  </span>
</a>