<div id="sidebar" class="sidebar sidebar-left">
    <nav role="navigation" class="navbar">
        <a type="button" class="btn sidebar-collapse-btn collapsed hidden-md hidden-lg" data-toggle="collapse" data-target="#left-sidebar" aria-expanded="false">
            {% trans %}Project navigation{% endtrans %}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
        <div id="left-sidebar" class="collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Add sidebar links here.</a></li>
            </ul>
        </div>
    </nav>
</div>