<li class="col-xs-12 col-md-6 col-lg-4" title="{{item.titles[0]}}">
  <a class="item-card" href="/item/{{ item.ark|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">
    <div class="item-card-title-row">
      <h3 class="item-card-title">
        {% for title in item.titles %}
          {{ title }}
        {% endfor %}
      </h3>
      {% if item.panopto_links|length > 0 %}
        <span title="{% trans %}item has digital content{% endtrans %}"><i class="item-icon fa fa-lg fa-file-audio-o" aria-hidden="true"></i></span>
      {% endif %}
    </div>
    <div class="item-card-content-row">
      <span title="{% trans %}Type of Media{% endtrans %}">
        {% for medium in item.medium %}
          {{ medium }}
        {% endfor %}
        {% if item.has_format|length > 0 %}
          <span title="{% trans %}Item has further conversions{% endtrans %}">(+)</span>
        {% endif %}
          &nbsp;
      </span>
      {% if item.subject_language %}
        <span title="{% trans %}Subject Language{% endtrans %}">
            <i class="fa fa-language text-muted-extra" aria-hidden="true"></i>
            {% for lan in item.subject_language %}
              {{ lan }}{{ ", " if not loop.last else "" }}
            {% endfor %}
        </span>
      {% endif %}
      <span title="{% trans %}Record Identifier{% endtrans %}" class="text-muted-extra">{{ item.identifier.0 }}</span>
    </div>
  </a>
</li>