{# I realize now that each component should have documented its requirements and demand an object be passed for it, instead of matching every template that uses it. #}
<div class="item-list-faux-table-header">
  <span class="item-list-faux-table-format">{% trans %}Format:{% endtrans %}</span>
  <span class="item-list-faux-table-name">
    <b>{% trans %}Name{% endtrans %}</b>&nbsp;
    <span class="text-muted">{% trans %}Description{% endtrans %}</span>
  </span>
  <span class="item-list-faux-table-conversions">{% trans %}Has conversions{% endtrans %}</span>
</div>