<div class="browse browse-bar show" style="padding-left: 0;">
    <h2>{% trans %}Browse Collection by{% endtrans %}</h2>
    <div>
        <a class="btn btn-default" href="/browse/?type=language">{% trans %}Language{% endtrans %} </a> 
        <a class="btn btn-default" href="/browse/?type=location">{% trans %}Location{% endtrans %} </a> 
        <a class="btn btn-default" href="/browse/?type=creator">{% trans %}Creators{% endtrans %} </a> 
        <a class="btn btn-default" href="/browse/?type=contributor">{% trans %}Contributors{% endtrans %} </a> 
        <a class="btn btn-default" href="/browse/?type=creator">{% trans %}Creators{% endtrans %} </a> 
        <a class="btn btn-default" href="/browse/?type=decade">{% trans %}Dates{% endtrans %} </a>
    </div>
</div>
