<!-- Footer -->
<footer class="container-fluid footer" id="footer">

  <!-- Contact -->
  <div class="col-xs-12 col-sm-2 col-footer">
    <p>Contact<br/>
      <a href="https://www.lib.uchicago.edu/research/help/ask-librarian/ask-contact/">Contact Form</a><br/>
      <a href="https://www.lib.uchicago.edu/about/directory/?view=department">Library Departments</a><br/>
      <a href="https://www.lib.uchicago.edu/about/directory/?view=staff">Staff Directory</a><br/>
    </p>
  </div>
  <!-- // Contact -->

  <!-- Information -->
  <div class="col-xs-12 col-sm-2 col-footer divider-vertical">
    <p>Policies<br/>
      <a href="https://www.lib.uchicago.edu/research/help/infofor/accessibility/">Patrons with Disabilities</a><br/>
      <a href="https://www.lib.uchicago.edu/about/thelibrary/policies/">Library Policies</a><br/>
      <a href="https://www.lib.uchicago.edu/about/thelibrary/policies/privacy/">Privacy Statement</a><br/>
      <a href="https://accessibility.uchicago.edu/">University Accessibility</a><br/>
    </p>
  </div><!-- // Information -->

  <!-- Libraries -->
  <div class="col-xs-12 col-sm-2 col-footer col-sm-push-4 divider-vertical">
    <p>Libraries<br/>
      <a href="https://www.lib.uchicago.edu/crerar/">Crerar</a><br/>
      <a href="https://www.lib.uchicago.edu/law/">D’Angelo Law</a><br/>
      <a href="https://www.lib.uchicago.edu/eck/">Eckhart</a><br/>
      <a href="https://www.lib.uchicago.edu/mansueto/">Mansueto</a><br/>
      <a href="https://www.lib.uchicago.edu/spaces/joseph-regenstein-library/">Regenstein</a><br/>
      <a href="https://www.lib.uchicago.edu/scrc/">Special Collections</a><br/>
      <a href="https://www.lib.uchicago.edu/swl/">Social Work</a><br/>
    </p>
  </div><!-- // Libraries -->

  <!-- Social -->
  <div class="col-xs-12 col-sm-2 col-footer col-sm-push-4">
    <p>Library Social Media<br/>
	<a href="http://www.facebook.com/uchicagolibrary"><i class="fa fa-facebook-official"></i> &nbsp; Facebook</a><br/>
	<a href="https://twitter.com/UChicagoLibrary"><i class="fa fa-twitter"></i> &nbsp; Twitter</a><br/>
	<a href="https://www.instagram.com/uchicagolibrary/"><i class="fa fa-instagram"></i> &nbsp; Instagram</a><br/>
	<a href="http://news.lib.uchicago.edu/"><i class="fa fa-rss-square"></i> &nbsp; Library News</a><br/>
	<a href="https://www.youtube.com/user/uchicagolibrary"><i class="fa fa-youtube-square"></i> &nbsp; Library News</a><br/>
	<a href="https://www.lib.uchicago.edu/about/news-events/social-media/"><i class="fa fa-clone"></i> &nbsp; More Library Accounts...</a><br/>
    </p>
  </div><!-- // Social -->

  <!-- Address - Push/Pull Col for viewport-->
  <div class="col-xs-12 col-sm-4 col-footer col-sm-pull-4">
    <div class="centerdiv">
      <img alt="The University of Chicago Library" src="https://uchicago-library.github.io/LibPattern/images/unvlogo-white.png" width="150px" height="auto"/>
      <!-- Library Location: Address -->
      <p>University of Chicago Library<br/>
      1100 East 57th Street, Chicago, IL 60637</p>

      <small><a href="#">Privacy Statement</a><br/>
      © University of Chicago</small>
    </div>
  </div><!-- // Address -->
</footer><!-- // Footer -->
