{% extends "base.html" %}

{% block content %}
<div id="content" role="main">
  <div class="title-wrapper">
    <h1>{% trans %}Request Access to Series{% endtrans %}</h1>
  </div>
  {% if  cnet_id %}
    <div class="alert alert-warning" style="text-align:left !important" role="alert">{% trans %}An account is neccessary to request access to a restricted series. For those who do not have a UChicago ID, please <a href="/request-account">request an account</a> and try again to request access to the selected series. Account requests are reviewed individually and typically processed within five business days.{% endtrans %}</div>
  {% else %}
    <form class="gray-surface" action="/send-cgimail" method="POST" style="max-width: 600px">
      <input type="hidden" name="msg_type" value="request_access">
      <div class="form-group">
        <label for="cnet_id">CNET ID*</label>
        <input type="text" class="form-control" id="cnet_id" name="CNET ID" value="{{cnet_id}}" readonly required>
      </div>
      <div class="form-group">
        <label for="series_id">Series ID*</label>
        <input type="text" class="form-control" id="series_id" name="Series ID" value="{{ request.args.get('series_id') }}" readonly required>
      </div>
      <div class="form-group">
        <label for="item_id">{% trans %}Sample Item ID{% endtrans %}*</label>
        <input type="text" class="form-control" id="item_id" name="Item ID" value="{{ request.args.get('item_id') }}" readonly required>
      </div>
      <div class="form-group">
        <label for="item_title">{% trans %}Sample Item Title{% endtrans %}*</label>
        <input type="text" class="form-control" id="item_title" name="Item Title" value="{{ request.args.get('item_title') }}" readonly required>
      </div>
      <div class="form-group">
        <label for="requestReason">{% trans %}Please describe the reason for your request.{% endtrans %}*</label>
        <textarea type="text" class="form-control" id="requestReason" name="Series access request reason" placeholder="{% trans %}Please specify{% endtrans %}" required></textarea>
      </div>
      <button type="submit">{% trans %}Submit{% endtrans %}</button><br>
    </form>
  {% endif %}
</div>
{% endblock %}
