{% extends "base.html" %}

{% block content %}
<div id="content" role="main">
  <div class="title-wrapper">
    <h1>{% trans %}Request Access to Series{% endtrans %}</h1>
  </div>
  <p>{% trans %}Thank you for your interest in OLA materials. Although some of our holdings have are subject to access restrictions—often related to issues of confidentiality—we do our best to make recordings available to scholars, members of speaker communities, and the curious public.{% endtrans %}</p>
  <p>{% trans %}Please complete the form below, and someone will be in touch with you shortly regarding your request. If you have questions or are experiencing issues, please write to <a href="mailto:OLA@uchicago.edu">OLA@uchicago.edu</a>. For more information read the <a href="/access-terms">Terms of Access</a>.{% endtrans %}</p>
  {% if not cnet_id %}
    <div class="alert alert-warning" style="text-align:left !important" role="alert">{% trans %}An account is neccessary to request access to a restricted series. For those who do not have a UChicago ID, please <a href="/request-account">request an account</a> and go back to request access to the selected series. Account requests are reviewed individually and typically processed within five business days.{% endtrans %}</div>
  {% else %}
    {% if request.args.get('series_id') == None or request.args.get('item_title') == None %}
      <div class="alert alert-warning" style="text-align:left !important" role="alert">
        {% trans %}There was an issue loading your request. Request for access to a restricted series should be started from the series page or from one of its items. 
      {% endtrans %}
      </div>
    {% else %}
      <form class="gray-surface" action="/send-cgimail" method="POST" style="max-width: 600px">
        <input type="hidden" name="msg_type" value="request_access">
        <div class="form-group">
          <label for="cnet_id">CNET ID*</label>
          <input type="text" class="form-control" id="cnet_id" name="CNET ID" value="{{cnet_id}}" readonly required>
        </div>
        <div class="form-group">
          <label for="series_id">Series ID*</label>
          <input type="text" class="form-control" id="series_id" name="Series ID" value="{{ request.args.get('series_id') }}" readonly required>
        </div>
        <div class="form-group">
          <label for="item_id">{% trans %}Sample Item ID{% endtrans %}*</label>
          <input type="text" class="form-control" id="item_id" name="Item ID" value="{{ request.args.get('item_id') }}" readonly required>
        </div>
        <div class="form-group">
          <label for="item_title">{% trans %}Sample Item Title{% endtrans %}*</label>
          <input type="text" class="form-control" id="item_title" name="Item Title" value="{{ request.args.get('item_title') }}" readonly required>
        </div>
        <div class="form-group">
          <label for="requestReason">{% trans %}Please describe the educational or fair use reason to access this series.{% endtrans %}*</label>
          <textarea type="text" class="form-control" id="requestReason" name="Series access request reason" placeholder="{% trans %}Please specify{% endtrans %}" required></textarea>
        </div>
        <button type="submit">{% trans %}Submit{% endtrans %}</button><br>
      </form>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
