{% extends "base.html" %}

{% block content %}
  <div class="item-page" id="content" role="main">
    <div class="title-wrapper">
      <h1>
        {{ title_slug }}
      </h1>
      <span class="badge badge-{{ access_rights[2] }}">{{ access_rights[1] }}</span>
    </div>
    <span id="panopto-data" class="hidden" data-identifier="{{panopto_identifier}}" data-rights="{{access_rights[0]|lower}}"></span>
    {% if panopto_identifier %}
      {% if access_rights[0]|lower == 'campus' %}
        <div id="alert-campus" class="alert alert-warning alert-dismissible hidden fade in" style="600px; margin: 0 auto 1rem; text-align:left !important" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% trans %}This item is a streamable file but has an ‘Account Required’ label. Please <a href="/login">login</a> and authenticate through the Panopto player, which might prompt a pop-up, or <a href="/request-account">request an account</a> first. See the <a href="/access-terms">terms of access page</a> for further information.{% endtrans %}
        </div>
      {% elif access_rights[0]|lower == 'restricted' %}
        <div id="alert-restricted" class="alert alert-warning alert-dismissible hidden fade in" style="max-width: 600px; margin: 0 auto 1rem; text-align:left !important" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% trans sid=request_access_button.series_id,iid=request_access_button.item_id,itt=request_access_button.item_title %}This item is a streamable file but has a ‘By Request’ label. <a href="/request-access?series_id={{sid}}&item_id={{iid}}&item_title={{itt}}">Request access</a> to this series. Please <a href="/login">login</a> and authenticate through the Panopto player, which might prompt a pop-up, or <a href="/request-account">request an account</a> first. See the <a href="/access-terms">terms of access page</a> for further information.{% endtrans %}
        </div>
      {% endif %}
      {% if access_rights[0]|lower == 'campus' or access_rights[0]|lower == 'restricted' %}
        <button id="panopto-help" class="btn btn-link pull-right hidden" type="button" title="Panopto help" aria-label="Panopto help"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
      {% endif %}
      <!-- {{ panopto_identifier }} -->
      <iframe class="panopto-iframe" src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{ panopto_identifier }}&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all" height="100" width="720" style="border: 1px solid #464646; min-width: 100%" allowfullscreen allow="autoplay"></iframe>
    {% endif %}
    <span class="hidden">
      {% if panopto_links %}
        <dt>Panopto Links:</dt>
        <dd>
         {% for i in panopto_links %}
          <a href="{{ i }}">{{ i }}</a><br>
         {% endfor %}
        </dd>
      {% endif %}
    </span>
    <div class="object-metadata">
      <dl>
        {% if titles %}
          <dt>{% trans %}Series{% endtrans %}:</dt>
          <dd>
            {% for serie in series %}
              <a href="/series/{{ serie.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}">
                {{ serie.1.titles.0 }}
              </a><br>
            {% endfor %}
          </dd>
        {% endif %}
        {% if titles %}
          <dt>{% trans %}Item Title{% endtrans %}:</dt>
          <dd>
            {% for i in titles %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if identifier %}
          <dt>{% trans %}Item Identifier{% endtrans %}:</dt>
          <dd>
            {% for i in identifier %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if creator %}
          <dt>{% trans %}Creator(s){% endtrans %}:</dt>
          <dd>
            {% for i in creator %}
              <a href="/browse?type=creator&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if contributor %}
          <dt>{% trans %}Contributor(s){% endtrans %}:</dt>
          <dd>
            {% for i in contributor %}
              <a href="/browse?type=contributor&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if subject_language %}
          <dt>{% trans %}Indigenous Language{% endtrans %}:</dt>
          <dd>
            {% for i in subject_language %}
              <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if primary_language %}
          <dt>{% trans %}Language{% endtrans %}:</dt>
          <dd>
            {% for i in primary_language %}
              <a href="/browse?type=language&term=ji{{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if location %}
          <dt>{% trans %}Location{% endtrans %}:</dt>
          <dd>
            {% for i in location %}
              <a href="/browse?type=location&term=ji{{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if date %}
          <dt>Date:</dt>
          <dd>
            {% for i in date %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if description %}
          <dt>{% trans %}Description{% endtrans %}:</dt>
          <dd>
            {% for i in description %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if linguistic_data_type %}
          <dt>{% trans %}Linguistic Data Type{% endtrans %}:</dt>
          <dd>
            {% for i in linguistic_data_type %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if discourse_type %}
          <dt>{% trans %}Discourse Type{% endtrans %}:</dt>
          <dd>
            {% for i in discourse_type %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if content_type %}
          <dt>{% trans %}Item Content Type{% endtrans %}:</dt>
          <dd>
            {% for i in content_type %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if medium %}
          <dt>{% trans %}Media Type{% endtrans %}:</dt>
          <dd>
            {% for i in medium %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if all_formats and all_formats|length >0 %}
          <dt>{% trans %}Other Media Types{% endtrans %}:</dt>
          <dd>
          {% for medium in order_of_formats %}
              {% if medium in all_formats %}
                <span>{{ medium }}</span>
              {% endif %}
          {% endfor %}
          </dd>
        {% endif %}
      </dl>
    </div>
    {% if descendants|length >0 %}
      <div class="item-list-faux-table">
        {% for level, formats in descendants.items()  %}
          {% if level == 1 %}
            <h2>{% trans %}This item has been converted to the following items:{% endtrans %}</h2>
            {% include 'component-item-in-list-header.html' %}
          {% elif level == 2 %}
            <h2>{% trans %}And further converted:{% endtrans %}</h2>
            {% include 'component-item-in-list-header.html' %}
          {% endif %}
          {% if level >= 2 %}
            {% set showlevel = level-1 %}
          {% endif %}
          <h3 class="sr-only">Generation {{ level }}</h3>
          {% for medium in order_of_formats %}
            {% if medium in formats %}
              {% for descendant in formats[medium] %}
                {% set item = descendant %}
                {% include 'component-item-in-list.html' %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          <hr style="margin: 0; border-color: #aaa">
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
