{% extends "base.html" %}

{% block content %}
  <div class="item-page" id="content" role="main">

    {# OBJECT TITLE #}

    {# PANOPTO #}
    <span id="panopto-data" class="hidden" data-identifier="{{panopto_identifier}}" data-rights="{{access_rights[0]|lower}}" data-cnetid="{{cnet_id}}"></span>
    {% if panopto_identifier %}
      {% if access_rights[0]|lower == 'campus' or access_rights[0]|lower == 'restricted' %}
        <div id="alert-{{access_rights[0]|lower}}" class="alert alert-warning alert-dismissible hidden fade in" style="margin: 0 auto 1rem; text-align:left !important" role="alert">
          <button id="close-panopto-alert" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% if access_rights[0]|lower == 'campus' %}
              {% trans %}This item is a streamable file but has an ‘Account Required’ label. Please <a href="/login">login</a> and authenticate through the Panopto player, which might prompt a pop-up, or <a href="/request-account">request an account</a> first. See the <a href="/access-terms">terms of access page</a> for further information.{% endtrans %}
            </div>
          {% elif access_rights[0]|lower == 'restricted' %}
              {% trans sid=request_access_button.series_id,iid=request_access_button.item_id,itt=request_access_button.item_title %}This item is a streamable file but has a ‘By Request’ label. <a href="/request-access?series_id={{sid}}&item_id={{iid}}&item_title={{itt}}">Request access</a> to this series. Please <a href="/login">login</a> and authenticate through the Panopto player, which might prompt a pop-up, or <a href="/request-account">request an account</a> first. See the <a href="/access-terms">terms of access page</a> for further information.{% endtrans %}
          {% endif %}
        </div>
        <button id="panopto-help" class="btn btn-link pull-right hidden" type="button" title="Panopto help" aria-label="Panopto help"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
      {% endif %}
      <!-- {{ panopto_identifier }} -->
      {% if not ( not cnet_id and access_rights[0]|lower == 'restricted' ) %}
        <iframe class="panopto-iframe" src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{ panopto_identifier }}&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all" height="100" width="720" style="border: 1px solid #464646; min-width: 100%" allowfullscreen allow="autoplay"></iframe>
      {% endif %}
    {% endif %}
    <span class="hidden">
      {% if panopto_links %}
        <dt>Panopto Links:</dt>
        <dd>
         {% for i in panopto_links %}
          <a href="{{ i }}">{{ i }}</a><br>
         {% endfor %}
        </dd>
      {% endif %}
    </span>

    {# OBJECT METADATA #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>{% trans %}Item Data{% endtrans %}</h2>
      </div>
    </div>

    {# ITEMS LIST #}
    
  </div>
{% endblock %}
