{% extends "base.html" %}


{% block content %}
  <div class="search-results-page" id="content" role="main">

  <!-- Main Content -->
  <div class="page-title">
  <h1>{{ title_slug }}</h1>
  {% if results %}
    <em>{% trans num=results|length %}Search found in {{ num }} serie(s){% endtrans %}</em>
  {% endif %}
  </div><!-- // search-results -->

  <div class="listing" role="main">
  {% if results %}
    <ul class="no-style-list">
    {# RESULT #}
    {% for result in results %}
      <li class="search-result panel panel-default">
        {# SERIES #}
        <div class="panel-heading"> 
            <span class="label label-{{ result.1.access_rights.2 }}">{{ result.1.access_rights.1 }}</span>
            <div class="search-results-series-title">
              <a href="/series/{{ result.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}"><h2>
              <span class="hidden">{% for identifier in result.1.identifier %}{{ identifier }}{% endfor %}</span>
              {{ result.1.titles.0 }}
              </h2></a>
            </div>
        </div>
        {# METADATA #}
          {% set subject_language = result.1.subject_language  %}
          {% set primary_language = result.1.primary_language  %}
          {% set location = result.1.location  %}
          {% set date = result.1.date %}
          {% set creator = result.1.creator %}
          {% set contributor = result.1.contributor %}
          {% set content_type = result.1.content_type %}

          {% include 'component-object-metadata.html' %}
          

        {# ITEMS #}
        {% if result.1.sub_items|length > 0 %}
          <hr style="margin: 0">
          <div class="panel-body">
            <div class="items-listing">{# well well-sm  #}
              <b class="text-muted"> {% trans num=result.1.sub_items|length %} "{{ query }}" Found in {{ num }} item(s): {% endtrans %}  </b>

              {% include 'component-item-in-list-header.html' %}
              <ul class="no-style-list">
              {% for item_o in result.1.sub_items %}
                {% with %}
                  {% if item_o.is_format_of|length == 0 %}
                    {% set item = item_o %}
                    {% include 'component-item-in-list.html' %}
                  {% endif %}
                {% endwith %}
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="lead">
    <em>{% trans %}No results found{% endtrans %}.</em>
    </p>
  {% endif %}
  </div>

  </div>
{% endblock %}
