{% extends "base.html" %}

{% block content %}
  <div class="" id="content" role="main">
    <div class="title-wrapper">
      <h1>
        <strong>{% trans %}Series Title{% endtrans %}:</strong> {{ title_slug }}
      </h1>
      <div class="title-id-badge">
        <!-- <span class="text-muted-extra"> {{ identifier.0 }}</span> -->
        <span class="badge badge-{{ access_rights[2] }}">{{ access_rights[1] }}</span>
      </div>
    </div>

    <div class="object-metadata">
      <dl>
        {% if alternative_title %}
          <dt>{% trans %}Alternative Series Title{% endtrans %}:</dt>
          <dd>
            {% for i in alternative_title %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if identifier %}
          <dt>{% trans %}Series Identifier{% endtrans %}:</dt>
          <dd>
            {% for i in identifier %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        <dt>{% trans %}Collection{% endtrans %}:</dt>
        <dd>{% trans %}Digital Media Archive{% endtrans %}</dd>

        {% if creator %}
          <dt>{% trans %}Creator(s){% endtrans %}:</dt>
          <dd>
            {% for i in creator %}
              <a href="/browse?type=creator&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if contributor %}
          <dt>{% trans %}Contributor(s){% endtrans %}:</dt>
          <dd>
            {% for i in contributor %}
              <a href="/browse?type=contributor&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if subject_language %}
          <dt>{% trans %}Indigenous Language{% endtrans %}:</dt>
          <dd>
            {% for i in subject_language %}
              <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if primary_language %}
          <dt>{% trans %}Language{% endtrans %}:</dt>
          <dd>
            {% for i in primary_language %}
              <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if location %}
          <dt>{% trans %}Location{% endtrans %}:</dt>
          <dd>
            {% for i in location %}
              <a href="/browse?type=location&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if date %}
          <dt>{% trans %}Date{% endtrans %}:</dt>
          <dd>
            {% for i in date %}
              <a href="/browse?type=date&term={{ i|urlencode }}">{{ i }}</a>
            {% endfor %}
          </dd>
        {% endif %}

        {% if description %}
          <dt>{% trans %}Description{% endtrans %}:</dt>
          <dd>
            {% for i in description %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        {% endif %}

        {% if description %}
          <dt>{% trans %}Fromats{% endtrans %}:</dt>
          <dd>
            
          {% for medium in order_of_formats %}
            {% if medium in grouped_items and grouped_items[medium]|length > 0%}
              <a>{{ medium }}</a>
            {% endif %}
          {% endfor %}
          </dd>
        {% endif %}
      </dl>
    </div>
    <h2>{% trans %}Items in the Series{% endtrans %}</h2>
    {% for medium in order_of_formats %}
      {% if medium in grouped_items and grouped_items[medium]|length > 0%}
        <h3>{{ medium }}</h3>
        <div class="items-listing">
          <div class="row">
            <ul class="item-masonry-grid">
            {% for item in grouped_items[medium] %}
              {% include 'component-item-in-list.html' %}
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div> <!-- // .col-xs-12 .col-md-9 .centermain -->
{% endblock %}
