{% extends "base.html" %}

{% block content %}
  {# BOOTSTRAP PANEL #}
  {# <div class="panel panel-default">
    <div class="panel-heading">
      Panel heading without title
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div> #}

  <div class="" id="content" role="main">

    {# OBJECT TITLE #}
    {% include 'component-object-title.html' %}

    {# METADATA #}
    {% include 'component-object-metadata.html' %}

    
    {# ITEM LIST #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>{% trans %}Items in the Series{% endtrans %}</h2>
      </div>
      <div class="item-list-faux-table">
        {% include 'component-item-in-list-header.html' %}
        <ul class="no-style-list">
          {% for medium in grouped_items %}
            {% if grouped_items[medium]|length > 0 %}
              {% for item in grouped_items[medium] %}
                {% include 'component-item-in-list.html' %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div> <!-- // .col-xs-12 .col-md-9 .centermain -->
{% endblock %}
