{% extends "base.html" %}

{% block content %}
<div class="" id="content" role="main">
  <h1>{{ title_slug }}</h1>
          
  <article>
    <div class="browse-list-wrapper">
      <ul style="padding: .5rem">
        {% for b in browse_terms|sort() %}
          <li class="inline-item">
            <a href="/search?facet={{ browse_type }}%3A{{ b[0]|urlencode }}">
              {{ b[0] }} ({{ b[1] }})
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    </ul>
  </article>

  {% include 'elements-browse-bar.html' %}
</div>
{% endblock %}
