{% extends "base.html" %}

{# Vitor hard placeholder content #}
{% set title = 'The untimely lightness of sitting' %}
{% set rights = 'Login Required' %}
{% set panopto_identifier = 'fb972259-1699-4ff5-9af2-aa08015307da' %}
{% set browse_terms = [
    ['Abaza','Abaza'],
    ['Ainu (Japan)','Ainu (Japan)'],
    ['Akateko','Akateko'],
    ['Albanian','Albanian'],
    ['Algonquin','Algonquin'],
    ['Amharic','Amharic'],
    ['Ancient Greek (to 1453)','Ancient Greek (to 1453)'],
    ['Ancient Hebrew','Ancient Hebrew'],
    ['Arabic','Arabic'],
    ['Arbëreshë Albanian','Arbëreshë Albanian'],
    ['Arvanitika Albanian','Arvanitika Albanian'],
    ['Assamese','Assamese'],
    ['Awakateko','Awakateko'],
    ['Aymara','Aymara'],
    ['Azerbaijani','Azerbaijani'],
    ['Bachajón Tzeltal','Bachajón Tzeltal'],
    ['Bachajón Tzeltal','Bachajón Tzeltal'],
    ['Baluchi','Baluchi'],
    ['Basque','Basque'],
    ['Bengali','Bengali']
  ] %}
{# END Vitor hard placeholder content #}

{% block content %}
<div class="container body-container col-xs-9 col-lg-9" id="content" role="main">
  <h1>{{ title_slug }}</h1>
          
  <article>
    <ul>
      {% for b in browse_terms %}
        <li><a href="#{{ b[0] }}">{{ b[1] }}</a></li>
      {% endfor %}
    </ul>
  </article>

  <div class="home-module" style="padding-left: 0;">
    <h2 class="browse"> Collection Highlights</h2>
    <span class="browse-links">
      <span class="headline">Browse:&nbsp;</span>
      <a href="/browse/?type=language">Language</a>
      <a href="/browse/?type=location">Geographic Region</a>
    </span>
  </div>
</div>
{% endblock %}