{% set language_to_code = {
"Mam": "mam",
"Spanish": "spa",
"K'iche'": "quc",
"Tzotzil": "tzo",
"Tzeltal": "tzh",
"Yucatec Maya": "yua",
"English": "eng",
"Q'anjob'al": "kjb",
"Tlaxcala-Puebla-Central Nahuatl": "nhn",
"Ng\u00e4bere": "gym",
"Huastec": "hus",
"Classical Nahuatl": "nci",
"Highland Totonac": "tos",
"Purepecha": "tsz",
"Buglere": "sab",
"Central Guerrero Nahuatl": "ngu",
"Akateko": "knj",
"Popti'": "jac",
"Chuj": "cac",
"Kekch\u00ed": "kek",
"Aguacateco": "agu",
"Zapotec": "zap",
"Ixcatec": "ixc",
"Ixil": "ixl",
"Mezquital Otomi": "ote",
"Chol": "ctu",
"Tojolabal": "toj",
"Central Huasteca Nahuatl": "nch",
"Poqomchi'": "poh",
"Poqomam": "poc",
"Pipil": "ppl",
"Mop\u00e1n Maya": "mop",
"Huichol": "hch",
"German": "deu",
"Mocho": "mhc",
"Garifuna": "cab",
"Huautla Mazatec": "mau"
} %}
<li class="col-xs-12 col-md-6 col-lg-4">
  <a class="item-card" href="/item/{{ item.ark|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">
    <div class="item-card-title-row">
      <span class="item-card-title">
        {% for title in item.titles %}
          {{ title }}
        {% endfor %}
      </span>
      {% if item.panopto_links|length > 0 %}
        <span title="item has digital content"><i class="item-icon fa fa-lg fa-file-audio-o" aria-hidden="true"></i></span>
      {% endif %}
    </div>
    <div class="item-card-content-row">
      <span title="Type of Media">
      {% for medium in item.medium %}
        {{ medium }}
      {% endfor %}
      </span>
      {% if item.has_format|length > 0 %}
        <span title="Item is converted to other formats">+<i class="fa fa-files-o" aria-hidden="true"></i></span>
      {% endif %}
    </div>
    <div class="item-card-content-row">
      <span title="Subject language">
        {% for lan in item.subject_language %}
          {{ language_to_code[lan]|upper }}{{ ", " if not loop.last else "" }}
        {% endfor %}
      </span>
      <span class="text-muted-extra">{{ item.identifier.0 }}</span>
    </div>
  </a>
</li>