<div style="padding-left: 0;">
    <h2 class="browse show">{{ trans.browse_by }}</h2>
    <div>
        <a class="btn btn-lg btn-primary" href="/browse/?type=language">{{ trans.language }} </a>
        <a class="btn btn-lg btn-primary" href="/browse/?type=location">{{ trans.location }} </a>
        <a class="btn btn-lg btn-primary" href="/browse/?type=contributor">{{ trans.contributors }} </a>
        <a class="btn btn-lg btn-primary" href="/browse/?type=decade">{{ trans.dates }} </a>
    </div>
</div>