<!-- Footer -->
<footer class="container-fluid footer" id="footer">

  <!-- Contact -->
  <div class="col-xs-12 col-sm-2 col-footer">
    <p>Contact<br/>
      <a href="#">Contact Form</a><br/>
      <a href="#">Library Departments</a><br/>
      <a href="#">Staff Directory</a><br/>
    </p>
  </div>
  <!-- // Contact -->

  <!-- Information -->
  <div class="col-xs-12 col-sm-2 col-footer divider-vertical">
    <p>Information for<br/>
      <a href="#">Faculty</a><br/>
      <a href="#">Students</a><br/>
      <a href="#">University Staff</a><br/>
      <a href="#">Visitors</a><br/>
      <a href="#">Alumni &amp; Library Friends</a><br/>
      <a href="#">Patrons with Disabilities</a>
    </p>
  </div><!-- // Information -->

  <!-- Libraries -->
  <div class="col-xs-12 col-sm-2 col-footer col-sm-push-4 divider-vertical">
    <p>Libraries<br/>
      <a href="#">Crerar</a><br/>
      <a href="#">D’Angelo Law</a><br/>
      <a href="#">Eckhart</a><br/>
      <a href="#">Mansueto</a><br/>
      <a href="#">Regenstein</a><br/>
      <a href="#">SSA</a>
    </p>
  </div><!-- // Libraries -->

  <!-- Social -->
  <div class="col-xs-12 col-sm-2 col-footer col-sm-push-4">
    <p>Library Social Media<br/>
      <a href="#"><i class="fa fa-facebook-official"></i> &nbsp; Facebook</a><br/>
      <a href="#"><i class="fa fa-rss-square"></i> &nbsp; Library News</a><br/>
      <a href="#"><i class="fa fa-clone"></i> &nbsp; More Library Accounts...</a>
    </p>
  </div><!-- // Social -->

  <!-- Address - Push/Pull Col for viewport-->
  <div class="col-xs-12 col-sm-4 col-footer col-sm-pull-4">
    <div class="centerdiv">
      <img alt="The University of Chicago Library" src="https://uchicago-library.github.io/LibPattern/images/unvlogo-white.png" width="150px" height="auto"/>
      <!-- Library Location: Address -->
      <p>University of Chicago Library<br/>
      1100 East 57th Street, Chicago, IL 60637</p>

      <small><a href="#">Privacy Statement</a><br/>
      © University of Chicago</small>
    </div>
  </div><!-- // Address -->
</footer><!-- // Footer -->
