{% extends "base.html" %}

{% block content %}
<div class="row" id="content" role="main">
    <div class="col-xs-12 col-md-4">
        {% include 'sidebar-left.html' %}
    </div>
    <div class="col-xs-12 col-md-8">
        <h1>Indigenous Mesoamerican Languages Portal</h1>

        <article>
            <p data-block-key="1h0ux">
                Convallis aenean et tortor at risus viverra.
                Diam in arcu cursus euismod quis viverra. Iaculis eu non diam phasellus. Augue
                interdum velit euismod in pellentesque massa placerat duis ultricies. Maecenas
                ultricies mi eget mauris pharetra et. Nulla pellentesque dignissim enim sit
                amet venenatis. Eu consequat ac felis donec et odio. Pretium aenean pharetra
                magna ac placerat vestibulum lectus. Et malesuada fames ac turpis. Eu tincidunt
                tortor aliquam nulla facilisi cras fermentum odio eu.  Suspendisse sed nisi
                lacus sed viverra. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae
                congue. Ut diam quam nulla porttitor. Urna cursus eget nunc scelerisque viverra
                mauris in aliquam. Ornare lectus sit amet est placerat in egestas erat
                imperdiet.
            </p>
            <p>
                Sed libero enim sed faucibus turpis. Auctor neque vitae tempus quam
                pellentesque. Purus ut faucibus pulvinar elementum integer enim neque volutpat.
                Enim blandit volutpat maecenas volutpat blandit. Tristique senectus et netus et
                malesuada. Malesuada fames ac turpis egestas maecenas pharetra convallis
                posuere morbi. Placerat orci nulla pellentesque dignissim enim sit amet
                venenatis urna. Fusce ut placerat orci nulla pellentesque. Et sollicitudin ac
                orci phasellus. Neque viverra justo nec ultrices dui sapien.  Lacus sed viverra
                tellus in hac habitasse platea. Suspendisse potenti nullam ac tortor vitae
                purus. Id faucibus nisl tincidunt eget nullam. Mauris pharetra et ultrices
                neque ornare aenean euismod elementum nisi. Fermentum posuere urna nec
                tincidunt praesent semper. Purus gravida quis blandit turpis.
            </p>
        </article>

        <div class="home-module" style="padding-left: 0;">
            <h2 class="browse"> Collection Highlights</h2>
            <span class="browse-links">
              <span class="headline">Browse:&nbsp;</span>
              <a href="/browse/?type=language">Language</a>
              <a href="/browse/?type=location">Geographic Region</a>
          </span>
      </div>
  </div>
</div>
{% endblock %}
