{% extends "base.html" %}

{% block content %}
  <div class="" id="content" role="main">
    <div class="title-wrapper">
      <h1>{{ title_slug }}</h1>
      {% set status = series.1.access_rights|trim() %}
      {% include 'element-status-label.html' %}
    </div>
    {% if panopto_identifier %}
      <div>
        <iframe class="panopto-iframe" src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{ panopto_identifier }}&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all" height="100" width="720" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
      </div>
    {% endif %}
    <dl>
      {% if titles %}
        <dt>Item Title:</dt>
        <dd>
          {% for i in titles %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if description %}
        <dt>Description:</dt>
        <dd>
          {% for i in description %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if identifier %}
        <dt>Item Identifier:</dt>
        <dd>
          {% for i in identifier %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if contributor %}
        <dt>Contributor:</dt>
        <dd>
          {% for i in contributor %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if languages %}
        <dt>Indigenous Language:</dt>
        <dd>
          {% for i in languages %}
            <a href="/search?facet=language%3A{{ i|urlencode }}" class="search-results-facet">{{ i }}</a>
          {% endfor %}
        </dd>
      {% endif %}

      {% if languages %}
        <dt>Language:</dt>
        <dd>
          {% for i in languages %}
            <a href="/search?facet=language%3A{{ i|urlencode }}" class="search-results-facet">{{ i }}</a>
          {% endfor %}
        </dd>
      {% endif %}

      {% if location %}
        <dt>Location Where Indigenous Language Is Spoken:</dt>
        <dd>
          {% for i in location %}
            <a href="/search?facet=location%3A{{ i|urlencode }}" class="search-results-facet">{{ i }}</a>
          {% endfor %}
        </dd>
      {% endif %}

      {% if date %}
        <dt>Date:</dt>
        <dd>
          {% for i in date %}
            <a href="/search?facet=date%3A{{ i|urlencode }}" class="search-results-facet">{{ i }}</a>
          {% endfor %}
        </dd>
      {% endif %}

      {% if linguistic_data_type %}
        <dt>Linguistic Data Type:</dt>
        <dd>
          {% for i in linguistic_data_type %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if discourse_type %}
        <dt>Discourse Type:</dt>
        <dd>
          {% for i in discourse_type %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {% if content_type %}
        <dt>Item Content Type:</dt>
        <dd>
          {% for i in content_type %}
            <p>{{ i }}</p>
          {% endfor %}
        </dd>
      {% endif %}

      {# partOfSeries #}
      <dt>Part of Series:</dt>
      <dd>
          <a href="/series/{{ series.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}">
              {{ series.1.titles.0 }}
          </a>
      </dd>

    </dl>
  </div>
{% endblock %}
