{% extends "base.html" %}

{% block content %}
  <div class="" id="content" role="main">
    <div class="title-wrapper">
      <h1>
        {{ title_slug }}
        <span class="badge badge-{{ access_rights[2] }}">{{ access_rights[1] }}</span>
      </h1>
    </div>
    {% if panopto_identifier %}
      <div>
          <!-- {{ panopto_identifier }} -->
        <iframe class="panopto-iframe" src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{ panopto_identifier }}&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all" height="100" width="720" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
      </div>
    {% endif %}
    <span class="hidden">
      {% if panopto_links %}
        <dt>{% trans %}Panopto Links{% endtrans %}:</dt>
        <dd>
         {% for i in panopto_links %}
          <a href="{{ i }}">{{ i }}</a><br>
         {% endfor %}
        </dd>
      {% endif %}
    </span>
    <dl>

      {% if titles %}
        <dt>{% trans %}Item Title{% endtrans %}:</dt>
        <dd>
          {% for i in titles %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if identifier %}
        <dt>{% trans %}Item Identifier{% endtrans %}:</dt>
        <dd>
          {% for i in identifier %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if contributor %}
        <dt>{% trans %}Contributor{% endtrans %}:</dt>
        <dd>
          {% for i in contributor %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if subject_language %}
        <dt>{% trans %}Indigenous Language{% endtrans %}:</dt>
        <dd>
          {% for i in subject_language %}
            <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if primary_language %}
        <dt>{% trans %}Language{% endtrans %}:</dt>
        <dd>
          {% for i in primary_language %}
            <a href="/browse?type=language{{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if location %}
        <dt>{% trans %}Location Where Indigenous Language Is Spoken{% endtrans %}:</dt>
        <dd>
          {% for i in location %}
            <a href="/browse?type=location{{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if date %}
        <dt>Date:</dt>
        <dd>
          {% for i in date %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if description %}
        <dt>{% trans %}Description{% endtrans %}:</dt>
        <dd>
          {% for i in description %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if linguistic_data_type %}
        <dt>{% trans %}Linguistic Data Type{% endtrans %}:</dt>
        <dd>
          {% for i in linguistic_data_type %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if discourse_type %}
        <dt>{% trans %}Discourse Type{% endtrans %}:</dt>
        <dd>
          {% for i in discourse_type %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if content_type %}
        <dt>{% trans %}Item Content Type{% endtrans %}:</dt>
        <dd>
          {% for i in content_type %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {# partOfSeries #}
      <dt>{% trans %}Part of Series{% endtrans %}:</dt>
      <dd>
          <a href="/series/{{ series.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}">
              {{ series.1.titles.0 }}
          </a><br>
      </dd>
    </dl>
  </div> <!-- // .main -->
{% endblock %}
