{% extends "base.html" %}

{% block content %}
<div class="suggest-corrections-main" id="content" role="main">
  <div class="title-wrapper">
    <h1>{% trans %}Request Account for Access{% endtrans %}</h1>
  </div>
        <p style="max-width: 600px">
          {% trans %}This form is for visitors who do not have a UChicago ID. It allows them to request an account for accessing the Mesoamerican Language Collection Portal. An account is required to access content that is restricted or under controlled access. For more information visit <a href="/access-terms">/access-terms</a>.{% endtrans %}
        </p>
        <p style="max-width: 600px">
          {% trans %}Please briefly describe the purpose of your access. Once you click 'Submit,' you will be directed to a confirmation receipt of your request. Account requests are reviewed individually and typically processed within five business days. You will receive an email with instructions on how to use your account.{% endtrans %}
        </p>
  <form class="gray-surface" action="https://www.lib.uchicago.edu/cgi-bin/cgimail" method="POST" style="max-width: 600px">
    <div class="row">
      <div class="col-xs-12">
        <input type="hidden" name="rcpt" value="{{cgimail.request_account.rcpt}}">
        {# <input type="hidden" name="whom" value="MLC website"> #}
        <input type="hidden" id="cgimailfrom" name="from" value="{{cgimail.default.from}}">
        {# <input type="hidden" name="vrfy" value="trivial"> #}
        <input type="hidden" name="subject" value="{{cgimail.request_account.subject}}">
        <div class="form-group">
          <label for="name">{% trans %}Name{% endtrans %}*</label>
          <input type="text" class="form-control" id="name" name="User's Name" placeholder="{% trans %}Enter your name{% endtrans %}" required>
        </div>
        <div class="form-group">
          <label for="email">{% trans %}Email address{% endtrans %}*</label>
          <input type="email" class="form-control" id="Email" name="User's Email" placeholder="{% trans %}Enter your email address{% endtrans %}" required onchange="document.getElementById('cgimailfrom').value =(this.value)">
        </div>
        <div class="form-group">
          <label for="birthdate">{% trans %}Birthdate{% endtrans %}*</label>
          <input type="date" class="form-control" id="birthdate" name="User's Birthdate" value="2005-01-01" required>
        </div>
        <div class="form-group">
          <label for="projectDescription">{% trans %}Please describe your research project{% endtrans %}</label>
          <textarea class="form-control" rows="3" id="projectDescription" name="Project Description" value="{% trans %}Provide a description of your project.{% endtrans %}"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" required> {% trans %}I agree to the terms stated in the{% endtrans %} <a href="https://www.lib.uchicago.edu/scrc/visiting/policies-governing-use-archives-manuscripts-and-special-collections/">{% trans %}policy{% endtrans %}</a>.
          </label>
        </div>
        <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
