{% extends "base.html" %}


{% block content %}
  <div class="search-results-page" id="content" role="main">

  <!-- Main Content -->
  <div class="page-title">
  <h1>{{ title_slug }}</h1>
  {% if results %}
    <em>{% trans num=results|length %}Search found in {{ num }} serie(s){% endtrans %}</em>
  {% endif %}
  </div><!-- // search-results -->

  <div class="listing" role="main">
  {% if results %}
    <ul class="no-style-list">
    {# RESULT #}
    {% for result in results %}
      <li class="search-result">
      {# SERIES #}
      <div class="search-results-series-title">
        <span class="series-result-series-label">
          {% trans %}Series{% endtrans %}
          {% for identifier in result.1.identifier %}{{ identifier }}{% endfor %}: 
        </span>
        <div class="search-results-series-title-badge">
          <h3><a href="/series/{{ result.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}">
            {{ result.1.titles.0 }}
          </a></h3>
          <div class="title-id-badge">
            {# <span class="text-muted-extra"> {{ result.1.identifier.0 }}</span> #}
            <span class="badge badge-{{ result.1.access_rights.2 }}">{{ result.1.access_rights.1 }}</span>
          </div>
        </div>
      </div>
      {# METADATA #}
      <div class="object-metadata">
        <dl>
          {% if result.1.subject_language %}
            <dt>{% trans %}Indigenous Language(s){% endtrans %}: </dt>
            <dd>
            {% for language in result.1.subject_language %}
              <a href="/browse/?type=language&term={{ language|urlencode }}" class="sr-link-in-row">{{ language }}</a>
            {% endfor %}
            </dd>
          {% endif %}
          {% if result.1.primary_language %}
            <dt>{% trans %}Language(s){% endtrans %}: </dt>
            <dd>
            {% for language in result.1.primary_language %}
              <a href="/browse/?type=language&term={{ language|urlencode }}" class="sr-link-in-row">{{ language }}</a>
            {% endfor %}
            </dd>
          {% endif %}
          {% if result.1.location %}
            <dt>{% trans %}Location{% endtrans %}:</dt>
            <dd>
            {% for location in result.1.location %}
              <a href="/browse/?type=location&term={{ location|urlencode }}" class="sr-link-in-row">{{ location }}</a>
            {% endfor %}
            </dd>
          {% endif %}
          {% if result.1.date %}
            <dt>{% trans %}Date{% endtrans %}:</dt>
            <dd>
            {% for date in result.1.date %}
              <a href="/browse/?type=date&term={{ date|urlencode }}" class="sr-link-in-row">{{ date }}</a>
            {% endfor %}
            </dd>
          {% endif %}
          {% if result.1.creator %}
            <dt>{% trans %}Creator(s){% endtrans %}:</dt>
            <dd>
            {% if result.1.creator|length > 3 %}
              {% for creator in result.1.creator[:3] %}
                <a href="/browse/?type=creator&term={{ creator|urlencode }}" class="sr-link-in-row">{{ creator }};</a>
              {% endfor %}
              (+{{ result.1.creator|length -3 }})
            {% else %}
              {% for creator in result.1.creator %}
                <a href="/browse/?type=creator&term={{ creator|urlencode }}" class="sr-link-in-row">{{ creator }};</a>
              {% endfor %}
            {% endif %}
            </dd>
          {% endif %}
          {% if result.1.contributor %}
            <dt>{% trans %}Contributor(s){% endtrans %}:</dt>
            <dd>
            {% if result.1.contributor|length > 3 %}
              {% for contributor in result.1.contributor[:3] %}
                <a href="/browse/?type=contributor&term={{ contributor|urlencode }}" class="sr-link-in-row">{{ contributor }};</a>
              {% endfor %}
              (+{{ result.1.contributor|length -3 }})
            {% else %}
              {% for contributor in result.1.contributor %}
                <a href="/browse/?type=contributor&term={{ contributor|urlencode }}" class="sr-link-in-row">{{ contributor }};</a>
              {% endfor %}
            {% endif %}
            </dd>
          {% endif %}
          {% if result.1.content_type %}
            <dt>{% trans %}Resource Type{% endtrans %}:</dt>
            <dd>
            {% for content_type in result.1.content_type %}
              <span>{{ content_type }}</span>
            {% endfor %}
            </dd>
          {% endif %}
        </dl>
      </div>

      {# ITEMS #}
      {% if result.1.sub_items|length > 0 %}
        <div class="items-listing">{# well well-sm  #}
        <b class="text-muted"> {% trans num=result.1.sub_items|length %} "{{ query }}" Found in {{ num }} item(s): {% endtrans %}  </b>
        <div class="row">
        <ul class="no-style-list">
        {% for item_o in result.1.sub_items %}
          {%  with %}
            {%  set item = item_o %}
            {%  include 'component-item-in-list.html' %}
          {%  endwith %}
        {% endfor %}
        </ul>
        </div>
        </div>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="lead">
    <em>{% trans %}No results found{% endtrans %}.</em>
    </p>
  {% endif %}
  </div>

  </div>
{% endblock %}
