{% extends "base.html" %}


{% block content %}
  <div class="" id="content" role="main">
    <!-- Main Content -->
    <h1>{{ trans.collection_title }}</h1>

    <!-- Main Content -->
    <div class="search-results">
      <h2>{{ title_slug }}</h2>
    </div><!-- // search-results -->

    <section class="listing" role="main">
      {% if results %}
        {% for result in results %}

          <figure>
            <figcaption>
              <a href="/series/{{ result.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}">
                <h3>
                  {% trans %}Series{% endtrans %}: {{ result.1.titles.0 }} 
  <span class="badge badge-{{ result.1.access_rights.2 }}">{{ result.1.access_rights.1 }}</span>
                </h3>
              </a>
              {% if result.1.contributor %}
                <p><b>Contributor:</b>
                  {% for contributor in result.1.contributor %}
                      <span class="search-results-facet">{{ contributor }};</span>
                  {% endfor %}
               </p>
              {% endif %}
              {% if result.1.language %}
                <p><b>{% trans %}Indigenous Language(s){% endtrans %}: </b>
                  {% for language in result.1.language %}
                    <a href="/browse/?type=language&term={{ language|urlencode }}" class="search-results-facet">{{ language }}</a>
                  {% endfor %}
               </p>
              {% endif %}
              {% if result.1.location %}
                <p><b>{% trans %}Location{% endtrans %}:</b>
                  {% for location in result.1.location %}
                    <a href="/browse/?type=location&term={{ location|urlencode }}" class="search-results-facet">{{ location }}</a>
                  {% endfor %}
               </p>
              {% endif %}
              {% if result.1.date %}
                <p><b>{% trans %}Date{% endtrans %}:</b>
                  {% for date in result.1.date %}
                    <a href="/browse/?type=date&term={{ date|urlencode }}" class="search-results-facet">{{ date }}</a>
                  {% endfor %}
               </p>
              {% endif %}
              {% if result.1.content_type %}
                <p>{% trans %}Resource Type{% endtrans %}:
                  {% for content_type in result.1.content_type %}
                      <span>{{ content_type }}</span>
                  {% endfor %}
               </p>
              {% endif %}
            </figcaption>
          </figure>
        {% endfor %}
      {% else %}
        <p class="lead">
          <em>{% trans %}No results found{% endtrans %}.</em>
        </p>
      {% endif %}
    </section>
  </div>
{% endblock %}
