{% extends "base.html" %}

{% block content %}
  <div class="" id="content" role="main">
    <h1>
      <strong>{% trans %}Series Title{% endtrans %}:</strong> {% for i in titles %}{{ i }} {% endfor %}
      <span class="badge badge-{{ access_rights[2] }}">{{ access_rights[1] }}</span>
    </h1>
    <dl class="row series-metadata">
      {% if alternative_title %}
        <div class="col-xs-12">
          <dt>{% trans %}Alternative Series Title{% endtrans %}:</dt>
          <dd>
            {% for i in alternative_title %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      {% if identifier %}
        <div class="col-xs-12 col-sm-6">
          <dt>{% trans %}Series Identifier{% endtrans %}:</dt>
          <dd>
            {% for i in identifier %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      <div class="col-xs-12 col-sm-6">
        <dt>{% trans %}Collection{% endtrans %}:</dt>
        <dd>{% trans %}Digital Media Archive{% endtrans %}</dd>
      </div>

      {% if creator %}
        <div class="col-xs-12">
          <dt>{% trans %}Creator{% endtrans %}:</dt>
          <dd>
            {% for i in creator %}
              <a href="/browse?type=creator&term={{ i|urlencode }}">{{ i }}</a><br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      {% if subject_language %}
        <div class="col-xs-12 col-sm-6">
          <dt>{% trans %}Indigenous Language{% endtrans %}:</dt>
          <dd>
            {% for i in subject_language %}
              <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a><br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      {% if primary_language %}
        <div class="col-xs-12 col-sm-6">
          <dt>{% trans %}Language{% endtrans %}:</dt>
          <dd>
            {% for i in primary_language %}
              <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a><br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      {% if location %}
        <div class="col-xs-12 col-sm-6">
          <dt>{% trans %}Location Where Indigenous Language Is Spoken{% endtrans %}:</dt>
          <dd>
            {% for i in location %}
              <a href="/browse?type=location&term={{ i|urlencode }}">{{ i }}</a><br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      {% if date %}
        <div class="col-xs-12 col-sm-6">
          <dt>{% trans %}Date{% endtrans %}:</dt>
          <dd>
            {% for i in date %}
              <a href="/browse?type=date&term={{ i|urlencode }}">{{ i }}</a><br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

      {% if description %}
        <div class="col-xs-12">
          <dt>{% trans %}Description{% endtrans %}:</dt>
          <dd>
            {% for i in description %}
              {{ i }}<br>
            {% endfor %}
          </dd>
        </div>
      {% endif %}

    </dl>

    <h2>{% trans %}Items in the Series{% endtrans %}</h2>
    <div class="series-item-list-wrapper container-fluid">
      <ul class="row">
        {% for i in items %}
          <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <a href="/item/{{ i.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">
              <span class="text-muted">{{ i.1.identifier.0 }} </span>
              {% if i.1.panopto_links %}
                <i class="fa fa-headphones" aria-hidden="true"></i>
              {% endif %}
              {{ i.1.titles.0 }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div> <!-- // .col-xs-12 .col-md-9 .centermain -->
{% endblock %}
