{% extends "base.html" %}

{% block content %}
  <div class="" id="content" role="main">
    <h1>
      <strong>{% trans %}Series Title{% endtrans %}:</strong> {% for i in titles %}{{ i }} {% endfor %}
      <span class="badge badge-{{ access_rights[2] }}">{{ access_rights[1] }}</span>
    </h1>
    <dl>
      {% if alternative_title %}
        <dt>{% trans %}Alternative Series Title{% endtrans %}:</dt>
        <dd>
          {% for i in alternative_title %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if identifier %}
        <dt>{% trans %}Series Identifier{% endtrans %}:</dt>
        <dd>
          {% for i in identifier %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

      <dt>{% trans %}Collection{% endtrans %}:</dt>
      <dd>{% trans %}Digital Media Archive{% endtrans %}</dd>

      {% if creator %}
        <dt>{% trans %}Creator{% endtrans %}:</dt>
        <dd>
          {% for i in creator %}
            <a href="/browse?type=creator&term={{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if subject_language %}
        <dt>{% trans %}Indigenous Language{% endtrans %}:</dt>
        <dd>
          {% for i in subject_language %}
            <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if primary_language %}
        <dt>{% trans %}Language{% endtrans %}:</dt>
        <dd>
          {% for i in primary_language %}
            <a href="/browse?type=language&term={{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if location %}
        <dt>{% trans %}Location Where Indigenous Language Is Spoken{% endtrans %}:</dt>
        <dd>
          {% for i in location %}
            <a href="/browse?type=location&term={{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if date %}
        <dt>{% trans %}Date{% endtrans %}:</dt>
        <dd>
          {% for i in date %}
            <a href="/browse?type=date&term={{ i|urlencode }}">{{ i }}</a><br>
          {% endfor %}
        </dd>
      {% endif %}

      {% if description %}
        <dt>{% trans %}Description{% endtrans %}:</dt>
        <dd>
          {% for i in description %}
            {{ i }}<br>
          {% endfor %}
        </dd>
      {% endif %}

    </dl>

    <h2>{% trans %}Items in the Series{% endtrans %}</h2>
    <ul class="no-style-list items-listing">
    {% for i in items|sort(attribute='1.panopto_links.length') %}
      {% set item = i.1 %}
      <li>
        {% if item.panopto_links|length > 0 %}
          <i class="item-icon fa fa-lg fa-file-audio-o" aria-hidden="true"></i>
        {% else %}
          <i class="item-icon fa fa-circle" aria-hidden="true"></i>
        {% endif %}
        <p>
        <a href="/item/{{ i.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">
        {% for title in item.titles %}
          {{ title }}
        {% endfor %}
        <span class="text-muted">{{ item.identifier.0 }}</span> 
        </a>
        {# {{ item.subject_language }} #}
        {% for lan in item.subject_language %}
          {{ lan }},
        {% endfor %}
        <br>
        {% for medium in item.medium %}
          {{ medium }}
        {% endfor %}
        {# This can be interesting, but hasn't been evaluated yet. #}
        {% if item.has_format|length > 0 %}
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          (
          {# {{ item.has_format }} = #}
          {% for format, links in item.has_format.items() %}
            {% for link in links %}
              <a class="sr-link-in-series" href="/item/{{ link|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">{{ format }}
              </a> 
            {% endfor %}
          {% endfor %}
          )
        {% endif %}
        </p>
        {# {{ item.identifier.0 }} 
        <a href="/item/{{ i.0|replace('https://ark.lib.uchicago.edu/ark:61001/', '')|urlencode }}/">{{ item.titles.0 }}</a><br> #}
      </li>
    {% endfor %}
    </ul>
  </div> <!-- // .col-xs-12 .col-md-9 .centermain -->
{% endblock %}
