<div id="sidebar" class="sidebar sidebar-left">
    <nav role="navigation" class="navbar">
        <a type="button" class="btn sidebar-collapse-btn collapsed hidden-md hidden-lg" data-toggle="collapse" data-target="#left-sidebar" aria-expanded="false">
            Project navigation 
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
        </a>
        <div id="left-sidebar" class="collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">About the Project</a></li>
                <li><a href="#">About the Collections</a></li>
                <li><a href="#">Terms of Access</a></li>
                <li><a href="#">How to Deposit Materials</a></li>
                <li><a href="#">Related Collections at UChicago</a></li>
                <li><a href="#">Additional Resources</a></li>
            </ul>
        </div>
    </nav>
</div>
