<div class="sidebar sidebar-right">
  <h2>{% trans %}Search & Browse{% endtrans %}</h2>
  <div class="row">
    <div class="col-xs-6 col-sm-12">
      <div class="collections">
        <div class="form-group">
          <form action="/search/" class="searchbox" method="GET">
            <input name="query" placeholder="{% trans %}Search language, location, people, etc.{% endtrans %}" required="required" type="search" aria-label="search" class="searchbox-input" value=""/>
            <span class="searchbox-icon"><i title="search" class="fa fa-search"></i>
              <input type="submit" class="searchbox-submit" value="search" style="background-color: transparent; color: transparent;"/>
            </span>
          </form>
        </div>
      </div>
      <div class="collections browse"><!-- Browse Collection by -->
        <span class="headline">{% trans %}Browse Collection by{% endtrans %}</span>
        <ul>
          <li><a href="/browse/?type=language">
            {% trans %}Language{% endtrans %}
          </a></li>
          <li><a href="/browse/?type=location">
            {% trans %}Location{% endtrans %}
          </a></li>
          <li><a href="/browse/?type=contributor">
            {% trans %}Contributors{% endtrans %}
          </a></li>
          <li><a href="/browse/?type=decade">
            {% trans %}Dates{% endtrans %}
          </a></li>
        </ul>
      </div>
      <div class="collections access"> <!-- Access -->
        <h2>{% trans %}Access{% endtrans %}</h2>
        <p><i class="fa fa-user" aria-hidden="true"></i> {% trans %}Logged In{% endtrans %}</p>
        <p><a href="/access-terms">Terms of Access</a></p>
        <!-- <p><a href="http://dma.uchicago.edu/forms/request-research-access">Request Research Access</a></p> -->
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <div class="collections specialist"><!-- Subject Specialist -->
        <h2>{% trans %}Subject Specialist{% endtrans %}</h2>
        <p>
          <a href="https://www.lib.uchicago.edu/about/directory/staff/david-woken/">David Woken</a><br/>
          <em>{% trans %}Latin American and Caribbean Studies Librarian{% endtrans %}</em><br/>
          <a href="mailto:woken@uchicago.edu">woken@uchicago.edu</a><br/>
          1-773-834-3181
        </p>
      </div>
      <div class="collections access"> <!-- Feedback -->
        <h2>{% trans %}Feedback{% endtrans %}</h2>
        <!-- <p>Report errors, omissions, or other issues in the description of this collection.</p> -->
        {% set ts = "ittt=" ~ title_slug if title_slug else "" %}
        {% if identifier %}
          {% set ri = "rcid=" ~ identifier.0 %}
        {#
        {% elif query_field %}
          {% set ri = "rcid=" ~ query_field %}
        {% elif browse_type %}
          {% set ri = "rcid=" ~ browse_type %}
          #}
        {% endif %}
        {% set ru = "iurl=" ~ request.url | urlencode if request.url else "" %}
        <p><a href="/suggest-corrections?{{ ts }}&{{ ri }}&{{ ru }}">{% trans %}Suggest Corrections{% endtrans %}</a></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr style="margin-top: 10px;margin-bottom: 10px">
      <div class="collections credits"><!-- Credits -->
        <h2>{% trans %}Credits{% endtrans %}</h2>
        <p>{% trans %}The presentation of this material is based upon work supported by the National Science Foundation under Grant No. 1953104.{% endtrans %}</p>
        <dl>
          <dt>
            {% trans %}Principal Investigators{% endtrans %}
          </dt>
          <dd>John Lucy, David Woken</dd>

          <dt>
            {% trans %}Project Manager{% endtrans %}
          </dt>
          <dd>Maria Victoria Fernandez</dd>

          <dt>
            {% trans %}Senior Personnel{% endtrans %}
          </dt>
          <dd>Charles Blair, Thomas Dousa</dd>

          <dt>
            {% trans %}Senior Developer{% endtrans %}
          </dt>
          <dd>John Jung</dd>

          <dt>
            {% trans %}Post-doctoral Fellow{% endtrans %}
          </dt>
          <dd>Carlos Javier Cisneros</dd>

          <dt>
            {% trans %}Graduate Student Fellow{% endtrans %}
          </dt>
          <dd>Hugo Novales Contreras</dd>

          <dt>
            {% trans %}User Experience and Digital Collections Design Intern, and Metcalf Odyssey Intern{% endtrans %}
          </dt>
          <dd>Wina Aaron</dd>

          <dt>
            {% trans %}Indigenous Mesoamerican Languages Portal Intern, and Metcalf Odyssey Intern{% endtrans %}
          </dt>
          <dd>Phoebe Price</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
